body {
    background: #0B0B0B;
    cursor: none;
    color: white;
    margin: 0;
    font-family: 'Inter', sans-serif;
    height: 900vh;
}

* {
    cursor: none; 
}

.App {
    position: relative;
    margin-top: 70px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.horizontal-line {
    border: none;
    border-top: 2px solid white;
    margin: 20px auto;
    width: 80.8%;
}

.custom-cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    z-index: 1001;
    transform: translate(-50%, -50%);
}

.custom-cursor.grow {
    width: 50px;
    height: 50px;
}

.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 376px;
    height: 57px;
    border: 2px solid #ffffff;
    background-color: #0b0b0b;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.gradient-image {
    width: 93.45%;
    position: absolute;
    height: auto;
    display: block;
    margin-left: 4%;
    margin-top: 10%;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

