body {
    background: #0B0B0B;
    color: white;
    margin: 0;
    font-family: 'Inter', sans-serif;
    height: 900vh;

}

.App {
    position: relative;
    margin-top: 70px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.horizontal-line {
    border: none;
    border-top: 2px solid white;
    margin: 20px auto;
    width: 80.8%;
}

.custom-cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    z-index: 1000;
    transform: translate(-50%, -50%);
}

.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 376px; /* Adjust the width as needed */
    height: 57px; /* Adjust the height as needed */
    border: 2px solid #ffffff; /* White border */
    background-color: #0b0b0b; /* Black background */
    color: #ffffff; /* White text color */
    font-size: 24px; /* Adjust the font size as needed */
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
