.enemy-virus-container {
    position: fixed;
    top: 40%;
    left: 5%;
    transform: translateY(-50%);
}

.enemy-virus {
    width: 150px;
    height: auto;
}

.enemy2-container {
    position: fixed;
    top: 50%;
    right: 12%;
    transform: translateY(-50%);
    z-index: 9999;
}

.enemy2 {
    width: 120px;
    height: auto;
}

.enemy3-container {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.enemy3 {
    width: 70px;
    height: auto;
}
