/* src/components/HeroComponent.css */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: white;
}

.hero-container {
    position: relative;
    margin: 20px auto;
    width: 70%;
    height: 800px;
}

.hero-item {
    position: absolute;
    padding: 20px;
}

.hero-item-1 {
    top: 80px;
    left: 20px;
    /*background-color: #413e3e;*/
}

.hero-item-2 {
    top: 30%;
    /*left: calc(50% + 10px); */
    left: 20px;
    /*background-color: #bd6060;*/

}

.hero-item-3 {
    top: calc(30%);
    left: calc(20% + 10px);
    /*background-color: #8a6767;*/

}

.hero-item-4 {
    top: calc(61.5%);
    left: 20px;
    /*background-color: #413e3e;*/
}

.hero-item-5 {
    top: calc(73% + 20px);
    left: 20px;
    max-width: 650px;
    /*background-color: #413e3e;*/
}

.hero-item-6 {
    top: 50px;
    width: 56%;
    height: 800px;
    left: calc(50% + 10px);
    /*background-color: #1b1b1b;*/
}
