.middle-container {
    display: flex;
    justify-content: space-between;
    margin-left: 17%;
    margin-top: 60px;
    width: 65%;
}

.horizontal-container-1 {
    display: flex;
    flex-direction: column;
}

.horizontal-container-1-buttons {
    display: flex;
}

.horizontal-container-2 {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.text-content-contacts {
    display: flex;
    margin-top: 20px;
    margin-left: 18.2%;
    gap: 5px;
    flex-direction: row;
}

.horizontal-container-3 {
    display: flex;
    flex-direction: row;
    margin-left: 17%;
    margin-top: 50px;
    gap: 400px;
}

.contact-item {
    display: flex;
}

.gap-50px {
    gap: 75px;
}

.gap-100px {
    gap: 100px;
}

.text-content {
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    gap: 40px;
}

.text-tools {
    margin-left: 50px;
}

.education-text {
    color: white;
    max-width: 300px;
    word-wrap: break-word;
}

.normal-text {
    font-size: 16px;
}

.highlighted-text {
    color: #55E27D;
    font-size: 20px;
}

.additional-box {
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-left: 17%;
}

.awards-text {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.awards-item {
    color: white;
    font-size: 16px;
}

.awards-highlight {
    color: #55E27D;
}

.letter-spacing-wide {
    letter-spacing: 0.5px;
    display: inline-flex;
    align-items: center;
}

.arrow-spacing {
    margin-left: 8px;
    margin-right: 8px;
}

.arrow-spacing-white {
    margin-top: 5px;
    margin-left: -70px;
    margin-right: 8px;
}

.tile-over {
    position: absolute;
    opacity: 30%;
}

.job {
    margin-left: 17%;
    margin-top: 30px;
    max-width: 1280px;
}

.click-to-view-text-1 {
    font-size: 14px;
    margin-left: 29.5%;
    color: #55E27D;

}

.click-to-view-text-2 {
    font-size: 14px;
    margin-left: 2%;
    color: #55E27D;

}

.click-to-view-text-3 {
    font-size: 14px;
    margin-left: 2%;
    color: #55E27D;

}